<!---------------------------->
<!---- Background Objects ---->
<!---------------------------->

<div class="design_object">
</div>

<!-------------------------->
<!---- Flashcard Object ---->
<!-------------------------->

<div class="flashcard">

	<!------------------>
	<!---- Question ---->
	<!------------------>

	<div class="question" id="C3_F_Q">

		<div class="japanese masu-form">
			{{furigana:Masu Form}}
		</div>

	</div>

	<!---------------->
	<!---- Answer ---->
	<!---------------->

	<div class="answer input" id="C3_F_A">

		<p>Bitte die Wörterbuchform angeben:</p>

		<div class="japanese input dictionary-form">
			{{type:Dictionary Form}}			
		</div>

	</div>

</div>
<div style="display:none;">{{Masu Form}}</div>

<!----------------------->
<!---- Footer Object ---->
<!----------------------->

<ul class="footer bar">

	<li class="credits" id="github">
		<a class="credits_text">Theme by&nbsp</span>
		<a class="credits_link" href="https://github.com/HachiMoji">
			<span class="link_text">HachiMoji</span>
			<img src="_github_32x32_dark.png">
		</a>
	</li>

</ul>

<!------------------>
<!---- Settings ---->
<!------------------>

<!-- Needed, so that audio won't play unneccessarily-->

<tts service="android" voice="de_DE"></tts>

<!-------------------->
<!---- Javascript ---->
<!-------------------->

<!--
<script src="_mnn_study_modes.js"></script>
-->