<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anki Generator</title>
</head>
<body>
    i am index html
    {% if person %}
  <h1>Hello {{ person }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
input image:
<!--
Source - https://stackoverflow.com/a/23016230
Posted by jungwook
Retrieved 2026-08-16, License - CC BY-SA 3.0
-->

<form method="POST" enctype="multipart/form-data">
  <input type="file" name="image">
  <button type="submit">upload</button>
</form>

</body>
</html>