.upload-form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15px; 
    max-width: 800px; 
    margin-top: 20px;
    margin: 0 auto;
    font-size: 16px;
}
.input-fields {
    display: flex;
    justify-content: center;
}
.input-box label {
    text-align: center;
}
.custom-file-upload {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--button-bg);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.custom-file-upload:hover {
    background-color: var(--button-hover);
}
.file-name-display {
    margin-top: 5px;
    text-align: center;
}
.input-box {
    width: 350px;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
}
.submit-button{
    width: 50%;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 18px;
    transition: background-color 0.2s;
}
.input-box input[type="password"],
.input-box input[type="text"] {
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 10px 14px;
    font-family: inherit;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
}
.input-box input[type="password"]:hover,
.input-box input[type="text"]:hover {
    border: 1px solid var(--button-hover);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}
.input-box input[type="password"]:focus,
.input-box input[type="text"]:focus {
  outline: 1px solid var(--highlight-color);
}
.input-describtion {
    margin-bottom: 6px;
}
.hidden-input {
  display: none;
}