.upload-form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15px; 
    max-width: 800px; 
    margin-top: 20px;
    margin: 0 auto;
    font-size: 16px;
}
.input-fields {
    display: flex;
    justify-content: center;
}
.custom-file-upload {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    min-width: 160px;
    text-align: center;
    position: relative;
}
.custom-file-upload::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--button-bg);
    border-radius: inherit;
    z-index: 0;
    transition: all 0.2s ease-in-out;
}
.custom-file-upload:hover::before {
    background-color: var(--button-hover);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}
.custom-file-upload span {
    position: relative; 
    z-index: 1;
}
.button-text {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}
.file-name {
    text-decoration: underline;
}
.api-link {
    color: var(--link-color);
    transition: all 0.2s;
}
.api-link:hover {
    color: var(--link-hover);
}
.input-box {
    width: 350px;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.submit-button{
    width: 50%;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 18px;
    transition: background-color 0.2s;
    margin-top: 10px;
}
.input-box input[type="password"],
.input-box input[type="text"] {
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 10px 14px;
    font-family: inherit;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
}
.input-box input[type="password"]:hover,
.input-box input[type="text"]:hover {
    border: 1px solid var(--button-hover);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}
.input-box input[type="password"]:focus,
.input-box input[type="text"]:focus {
  outline: 1px solid var(--highlight-color);
}
.input-describtion {
    margin-bottom: 6px;
}

.success {
    color: var(--success)
}
.error {
    color: var(--error-color);
}
.response-div {
    display: flex;
    justify-content: center;
}


.hidden-input {
  display: none;
}

@media (max-width: 768px) {
    .input-fields {
        flex-direction: column;
    }
}